html,
body,
#root,
.App {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.4;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  -webkit-app-region: drag;
  background-color: #222;
  padding: 40px;
  color: white;
  font-size: 1.3em;
}

.App-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.App-editor {
  padding: 8px 32px;
  flex: 1;
  background: #f8f8f9;
  text-align: left;
  overflow: auto;
}

.App-intro {
  text-align: left;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .public-DraftStyleDefault-ol,
.App .public-DraftStyleDefault-ul {
  margin: 0;
}

.task-item {
  padding: 8px 0;
  text-align: left;
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}

.task-item:hover {
  background: #f8f8f9;
}

.task-item--status {
  padding-right: 8px;
  padding-top: 2px;
}

.task-list-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 4px;
  padding-left: 24px;
  text-align: left;
  cursor: pointer;
}
